authoritative;

{% for subnet in dhcp.subnets %}
    {% if dhcp.dhcpd_ipversion == 6 %} 
        subnet6 {{ subnet.subnet }}
    {% else %} 
        subnet {{ subnet.subnet }} netmask {{ subnet.netmask }}
    {% endif %} 
    {
    {% if subnet.default_lease_time is defined %}
        default-lease-time {{ subnet.default_lease_time }};
    {% endif %}
    {% if subnet.max_lease_time is defined %}
        max-lease-time {{ subnet.max_lease_time }};
    {% endif %}
    {% if subnet.subnet_mask is defined %}
        option subnet-mask {{ subnet.subnet_mask }};
    {% endif %}
    {% if subnet.broadcast_address is defined and dhcp.dhcpd_ipversion == 4 %} 
        option broadcast-address {{ subnet.broadcast_address }};
    {% endif %}
    {% if subnet.routers is defined %}
        option routers {{ subnet.routers | join(', ') }};
    {% endif %}
    {% if subnet.domain_name is defined and dhcp.dhcpd_ipversion == 4 %}
        option domain-name "{{ subnet.domain_name }}";
    {% endif %}
    {% if subnet.domain_name_servers is defined and dhcp.dhcpd_ipversion == 6 %}
        option dhcp6.name-servers
    {% else %}
        option domain-name-servers {{ subnet.domain_name_servers|join(', ') }};
    {% endif %}
    {% if dhcp.dhcpd_ipversion == 6 %}
        range6 {{ subnet.range }};
    {% else %}
        range {{ subnet.range }};
    {% endif %}
    }
{% endfor %}

{% for host in dhcp.hosts %}
    host {{ host.hostname }} {
        hardware ethernet {{ host.hardware_address }};
    {% if host.option_host_name is defined %}
        option host-name "{{ host.option_host_name }}";
    {% endif %}
    {% if dhcp.dhcpd_ipversion == 6 %}
            fixed-address6 {{ host.address }};
    {% else %}
            fixed-address {{ host.address }};
    {% endif %}
    }
{% endfor %}
