server:
    verbosity: 1
{% for interface in dns.server.interfaces %}
    interface: {{ interface }}
{% endfor %}
{% if dns.server.ipv4 is defined and not dns.server.ipv4  %}
    do-ip4: no
{% endif %}
{% if dns.server.ipv6 is defined and not dns.server.ipv6  %}
    do-ip6: no
{% endif %}
{% if dns.server.udp is defined and not dns.server.udp  %}
    do-udp: no
{% endif %}
{% if dns.server.udp is defined and not dns.server.tcp  %}
    do-tcp: no
{% endif %}
    access-control: 172.16.0.0/12 allow
    {% if dns.server.access_allow is defined  %}
    {% for access_allow in dns.server.access_allow %}
    access-control: {{ access_allow }} allow
    {% endfor %}
    {% endif %}
    do-daemonize: no
    hide-version: yes
    hide-identity: yes
    use-syslog: no
    logfile: /var/log/unbound/unbound.log
{% if dns.local_data is defined %}
    {% for domain in dns.local_data.domains %}
    local-zone: "{{ domain }}" redirect
    local-data: "{{ domain }} A {{ dns.local_data.address }}"
    {% endfor %}
{% endif %}
{% if dns.forward_address is defined %}
forward-zone:   
    name: "."
    {% for addr in dns.forward_address %}
    forward-addr: {{ addr }}
    {% endfor %}
{% endif %}


