{% for route in routing.routes %}
net {{ route.net }} netmask {{ route.netmask }} {% if route.gw is defined %} gw {{ route.gw}} {% endif %} {% if route.dev is defined %} dev {{ route.dev}} {% endif %}
{% endfor %}
