###
### users
###

user openvpn
group openvpn


###
### network
###

proto udp
dev tap
persist-tun
float
port {{ openvpn_server_bridge.port }}
server-bridge {{ openvpn_server_bridge.server.subnet }} {{ openvpn_server_bridge.server.netmask }} {{ openvpn_server_bridge.server.start_IP }} {{ openvpn_server_bridge.server.end_IP }}

max-clients {{ openvpn_server_bridge.max_clients }}

keepalive 10 120
comp-lzo

###
### security
###

ca ca.crt
key server.key
cert server.crt
tls-auth ta.key 0
dh dh.pem
persist-key

tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA
cipher AES-256-CBC
auth SHA512

script-security 3
auth-user-pass-verify "/etc/openvpn/user-auth.sh" via-env
--verify-client-cert none
username-as-common-name
--ifconfig-pool-persist ipp.txt 0

###
### stand-up
###

script-security 2
up up.sh
down down.sh  # TODO: check
up-restart


###
### log
###

verb {{ openvpn_server_bridge.verb }}
status /var/log/openvpn/server.status
log /var/log/openvpn/server.log
writepid /var/run/openvpn.pid
