{% for server in ntp.servers %}
    server {{ server }} iburst
{% endfor %}

{% for subnet in ntp.allow_subnets %}
    allow {{ subnet }} 
{% endfor %}

driftfile /var/lib/chrony/drift
dumpdir /var/run/chrony
logdir /var/log/chrony
makestep 1.0 3
rtcsync

