include conf.d/{{ item.hostname }}__upstreams.conf;

### https redirect

{% if item.redirects is defined and item.redirects.https is defined and item.redirects.https == "1" %}
    server {
        {% for ip in item.network.ips %}
            listen {{ ip }}:{{ item.network.port.http }} {% if item.default is defined and item.default == "1" %} default_server {% endif %};
        {% endfor %}

        server_name {{ item.hostname }};

        location / {
            return 301 https://$host:$request_uri;
        }
    }
{% else %}
    server {
        {% for ip in item.network.ips %}
            listen {{ ip }}:{{ item.network.port.http }} {% if item.default is defined and item.default == "1" %} default_server {% endif %};
        {% endfor %}

        server_name {{ item.hostname }};

        root /var/www/{{ item.hostname }};
        index index.html;

        access_log /var/log/nginx/{{ item.hostname }}/access.log {{ item.log.access }};
        error_log /var/log/nginx/{{ item.hostname }}/error.log {{ item.log.error }};

        {% if item.auth is defined %}
            # auth
            auth_basic "Authentication required";
            auth_basic_user_file conf.d/{{ item.hostname }}__htpasswd.conf;

            {% if item.auth.ips is defined %}
                {% for ip in item.auth.ips %}
                    allow {{ ip }};
                {% endfor %}

                deny all;
            {% endif %}
        {% endif %}

        # forbid access to SCM directory
        location ~* \.git {
            internal;
        }

        # status
        location /nginx_status {
            stub_status on;
            access_log off;

            allow 127.0.0.1;
            deny all;
        }

        # project locations
        include conf.d/{{ item.hostname }}__locations.conf;
    }
{% endif %}


### https server

{% if item.security is defined %}
    server {
        {% for ip in item.network.ips %}
            listen {{ ip }}:{{ item.network.port.https }} ssl {% if item.default is defined and item.default == "1" %} default_server {% endif %};
        {% endfor %}

        server_name {{ item.hostname }};

        root /var/www/{{ item.hostname }};
        index index.html;

        access_log /var/log/nginx/{{ item.hostname }}/access.log {{ item.log.access }};
        error_log /var/log/nginx/{{ item.hostname }}/error.log {{ item.log.error }};

        # ssl
        ssl on;
        ssl_certificate conf.d/{{ item.hostname }}__certificate.crt;
        ssl_certificate_key conf.d/{{ item.hostname }}__certificate.key;
        ssl_dhparam conf.d/{{ item.hostname }}__dh.pem;
        ssl_protocols {{ item.security.protocols }};
        ssl_ciphers {{ item.security.ciphers }};

        {% if item.auth is defined %}
            # auth
            auth_basic "Authentication required";
            auth_basic_user_file conf.d/{{ item.hostname }}__htpasswd.conf;

            {% if item.auth.ips is defined %}
                {% for ip in item.auth.ips %}
                    allow {{ ip }};
                {% endfor %}

                deny all;
            {% endif %}
        {% endif %}

        # forbid access to SCM directory
        location ~* \.git {
            internal;
        }

        # status
        location /nginx_status {
            stub_status on;
            access_log off;

            allow 127.0.0.1;
            deny all;
        }

        # project locations
        include conf.d/{{ item.hostname }}__locations.conf;
    }
{% endif %}
