{% macro render_config() %}
    ###
    ### startup settings
    ###

    daemon off;
    user nginx nginx;
    pid /var/run/nginx.pid;


    ###
    ### worker settings
    ###

    {% if nginx.optimization is defined and nginx.optimization.worker is defined %}
        worker_priority {{ nginx.optimization.worker.priority }};
        worker_processes {{ nginx.optimization.worker.processes }};
        worker_cpu_affinity {{ nginx.optimization.worker.affinity }};
        #worker_rlimit_core 0;
        #worker_rlimit_nofile 1024;
        #worker_rlimit_sigpending
        #working_directory
    {% endif %}

    events {
        {% if nginx.optimization is defined and nginx.optimization.worker is defined %}
            worker_connections {{ nginx.optimization.worker.connections }};
        {% else %}
            worker_connections 1024;
        {% endif %}

        use epoll;
    }

    http {
        types {
            text/html                             html htm shtml;
            text/css                              css;
            text/xml                              xml;
            image/gif                             gif;
            image/jpeg                            jpeg jpg;
            application/javascript                js;
            application/atom+xml                  atom;
            application/rss+xml                   rss;

            text/mathml                           mml;
            text/plain                            txt;
            text/vnd.sun.j2me.app-descriptor      jad;
            text/vnd.wap.wml                      wml;
            text/x-component                      htc;

            image/png                             png;
            image/tiff                            tif tiff;
            image/vnd.wap.wbmp                    wbmp;
            image/x-icon                          ico;
            image/x-jng                           jng;
            image/x-ms-bmp                        bmp;
            image/svg+xml                         svg svgz;
            image/webp                            webp;

            application/font-woff                 woff;
            application/java-archive              jar war ear;
            application/json                      json;
            application/mac-binhex40              hqx;
            application/msword                    doc;
            application/pdf                       pdf;
            application/postscript                ps eps ai;
            application/rtf                       rtf;
            application/vnd.apple.mpegurl         m3u8;
            application/vnd.ms-excel              xls;
            application/vnd.ms-fontobject         eot;
            application/vnd.ms-powerpoint         ppt;
            application/vnd.wap.wmlc              wmlc;
            application/vnd.google-earth.kml+xml  kml;
            application/vnd.google-earth.kmz      kmz;
            application/x-7z-compressed           7z;
            application/x-cocoa                   cco;
            application/x-java-archive-diff       jardiff;
            application/x-java-jnlp-file          jnlp;
            application/x-makeself                run;
            application/x-perl                    pl pm;
            application/x-pilot                   prc pdb;
            application/x-rar-compressed          rar;
            application/x-redhat-package-manager  rpm;
            application/x-sea                     sea;
            application/x-shockwave-flash         swf;
            application/x-stuffit                 sit;
            application/x-tcl                     tcl tk;
            application/x-x509-ca-cert            der pem crt;
            application/x-xpinstall               xpi;
            application/xhtml+xml                 xhtml;
            application/xspf+xml                  xspf;
            application/zip                       zip;

            application/octet-stream              bin exe dll;
            application/octet-stream              deb;
            application/octet-stream              dmg;
            application/octet-stream              iso img;
            application/octet-stream              msi msp msm;

            application/vnd.openxmlformats-officedocument.wordprocessingml.document    docx;
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet          xlsx;
            application/vnd.openxmlformats-officedocument.presentationml.presentation  pptx;

            audio/midi                            mid midi kar;
            audio/mpeg                            mp3;
            audio/ogg                             ogg;
            audio/x-m4a                           m4a;
            audio/x-realaudio                     ra;

            video/3gpp                            3gpp 3gp;
            video/mp2t                            ts;
            video/mp4                             mp4;
            video/mpeg                            mpeg mpg;
            video/quicktime                       mov;
            video/webm                            webm;
            video/x-flv                           flv;
            video/x-m4v                           m4v;
            video/x-mng                           mng;
            video/x-ms-asf                        asx asf;
            video/x-ms-wmv                        wmv;
            video/x-msvideo                       avi;
        }

        default_type text/html;

        ### basic

        sendfile on;
        sendfile_max_chunk 128k;
        # tcp_nopush on; # useless
        # tcp_nodelay on; # useless in RHEL


        ### security

        server_tokens off;
        # disable_symlinks on;
        # ignore_invalid_headers on;


        ### keepalive

        keepalive_disable msie6;
        keepalive_requests 64;
        keepalive_timeout 60s;


        ### limitations

        client_header_buffer_size 1k;
        client_body_buffer_size 8k; # x86_64 page size
        client_header_timeout 30s;
        client_body_timeout 30s;
        client_max_body_size {{ nginx.optimization.client_max_body_size|default('1m') }};
        resolver_timeout 10s;
        send_timeout 30s;

        ### proxy

        {% if nginx.proxy is defined %}
            {% for ip in nginx.proxy.ips %}
                set_real_ip_from {{ ip }};
            {% endfor %}

            real_ip_header {{ nginx.proxy.header }};
        {% endif %}


        ### gzip

        {% if nginx.optimization is defined and nginx.optimization.gzip is defined %}
            gzip on;
            gzip_buffers {{ nginx.optimization.gzip.buffers }} 8k;
            gzip_comp_level {{ nginx.optimization.gzip.compression }};
            gzip_disable msie6;
            gzip_min_length {{ nginx.optimization.gzip.length }};
            gzip_http_version 1.1;
            gzip_proxied any;
            gzip_types text/plain text/css text/xml text/javascript application/json application/xml application/x-javascript application/rss+xml;
            gzip_vary on;
        {% else %}
            gzip off;
        {% endif %}


        ### logging

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;


        ### log formats

        # log_format combined '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"';
        log_format compression '$remote_addr - $remote_user [$time_local] "$request" $status $bytes_sent "$http_referer" "$http_user_agent" "$gzip_ratio"';


        ### virtual hosts

        {% if nginx.hosts is defined %}
            {% for host in nginx.hosts %}
                include /etc/nginx/conf.d/{{ host.hostname }}.conf;
            {% endfor %}
        {% endif %}
    }
{% endmacro %}

{{ render_config() }}
