auto lo
iface lo inet loopback

{% for interface in network_interfaces.interfaces %}
    {% if interface.ipv4 is defined or interface.ipv6 is defined %}
    auto {{ interface.name }} 
    {% endif %}
    {% if interface.ipv4 is defined %}
    iface {{ interface.name }} inet {{ interface.ipv4.method }}
        {% if interface.wpa_supplicant is defined and interface.wpa_supplicant  %}
            pre-up kill `cat /var/run/wpa_supplicant.{{ interface.name }}.pid`
            pre-up /sbin/wpa_supplicant -B -P/var/run/wpa_supplicant.{{ interface.name }}.pid -c/etc/wpa_supplicant.{{ interface.name }}.conf -i{{ interface.name }}
            post-down kill `cat /var/run/wpa_supplicant.{{ interface.name }}.pid`
        {% elif interface.access_point is defined and interface.access_point  %}
            pre-up kill `cat /var/run/hostapd.{{ interface.name }}.pid`
            pre-up /usr/sbin/hostapd -B -P /var/run/hostapd.{{ interface.name }}.pid /etc/hostapd/hostapd.{{ interface.name }}.conf
            post-down kill `cat /var/run/hostapd.{{ interface.name }}.pid`
        {% endif %}
        {% if interface.hwaddress is defined %}
            hwaddress ether {{ interface.hwaddress }}
        {% endif %}
        {% if interface.ipv4.method is defined and interface.ipv4.method == "static" %}
            address {{ interface.ipv4.address }}
            netmask {{ interface.ipv4.netmask }}
            {% if interface.ipv4.gateway is defined %}
                gateway {{ interface.ipv4.gateway }}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if interface.ipv6 is defined %}
    iface {{ interface.name }} inet6 {{ interface.ipv6.method }}
        {% if interface.wpa_supplicant is defined and interface.wpa_supplicant and interface.ipv4 is not defined %}
            pre-up kill `cat /var/run/wpa_supplicant.{{ interface.name }}.pid`
            pre-up /sbin/wpa_supplicant -B -P/var/run/wpa_supplicant.{{ interface.name }}.pid -c/etc/wpa_supplicant.{{ interface.name }}.conf -i{{ interface.name }}
            post-down kill `cat /var/run/wpa_supplicant.{{ interface.name }}.pid`
        {% elif interface.access_point is defined and interface.access_point and interface.ipv4 is not defined %}
            pre-up kill `cat /var/run/hostapd.{{ interface.name }}.pid`
            pre-up /usr/sbin/hostapd -B -P /var/run/hostapd.{{ interface.name }}.pid /etc/hostapd/hostapd.{{ interface.name }}.conf
            post-down kill `cat /var/run/hostapd.{{ interface.name }}.pid`
        {% endif %}
        {% if interface.hwaddress is defined %}
            hwaddress ether {{ interface.hwaddress }}
        {% endif %}
        {% if interface.ipv6.method is defined and interface.ipv6.method == "static" %}
            address {{ interface.ipv6.address }}
            netmask {{ interface.ipv6.netmask }}
            {% if interface.ipv6.gateway is defined %}
                gateway {{ interface.ipv6.gateway }}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if interface.bridge is defined %}
        {% if interface.bridge.ports is defined %}
            bridge-ports {{ interface.bridge.ports|join(' ') }}
        {% endif %}
        {% if interface.bridge.stp is defined %}
            bridge-stp {{ interface.bridge.stp }}
        {% endif %}
        {% if interface.bridge.ageing is defined %}
            bridge-ageing {{ interface.bridge.stp }}
        {% endif %}
    {% endif %}
{% endfor %}
