
interface={{ wireless_hotspot_interfaces.interface }}

{% if wireless_hotspot_interfaces.driver is defined and wireless_hotspot_interfaces.driver %}
driver={{ wireless_hotspot_interfaces.driver }}
{% endif %}

{% if wireless_hotspot_interfaces.bridge is defined %}
bridge={{ wireless_hotspot_interfaces.bridge }}
{% endif %}

logger_syslog=-1
logger_syslog_level=2
logger_stdout=-1
logger_stdout_level=2

ctrl_interface=/var/run/hostapd
ctrl_interface_group=0

ssid={{ wireless_hotspot_interfaces.ssid }}
ignore_broadcast_ssid={{ wireless_hotspot_interfaces.ignore_broadcast_ssid }}

hw_mode={{ wireless_hotspot_interfaces.hw_mode }}
ieee80211n={{ wireless_hotspot_interfaces.ieee80211n }}

channel={{ wireless_hotspot_interfaces.channel }}

max_num_sta=255

macaddr_acl=0

auth_algs={{ wireless_hotspot_interfaces.auth_algs }}

wpa={{ wireless_hotspot_interfaces.wpa }}
wpa_key_mgmt={{ wireless_hotspot_interfaces.wpa_key_mgmt }}

{% if wireless_hotspot_interfaces.wpa_pairwise is defined %}
wpa_pairwise={{ wireless_hotspot_interfaces.wpa_pairwise }}
{% endif %}

{% if wireless_hotspot_interfaces.rsn_pairwise is defined %}
rsn_pairwise={{ wireless_hotspot_interfaces.rsn_pairwise }}
{% endif %}

wpa_passphrase={{ wireless_hotspot_interfaces.wpa_passphrase }}
