###
### general
###

User tor
DataDirectory /var/lib/tor
PidFile /var/run/tor/tor.pid
Log notice file /var/log/tor/tor.log
RunAsDaemon 0
ClientUseIPv4 {{ tor.useipv4 }}
ClientUseIPv6 {{ tor.useipv4 }}

###
### control
###

{% if tor.control is defined %}
    ControlPort {{ tor.control.port }}
    CookieAuthentication 0
{% endif %}


###
### listeners
###
{% if tor.useipv4 is defined and tor.useipv4 == 1 %}
SOCKSPort 0.0.0.0:9050
{% endif %}

{% if tor.useipv6 is defined and tor.useipv6 == 1 %}
SOCKSPort [::]:9050
{% endif %}

###
### security
###

UseEntryGuards 1
ClientOnly 1
ReachableAddresses *:443
StrictNodes 1
GeoIPExcludeUnknown 1
Sandbox 1

{% if tor.security is defined and tor.security.nodes is defined %}
    {% if tor.security.nodes.entry is defined %}
        EntryNodes {{ tor.security.nodes.entry }}
    {% endif %}

    {% if tor.security.nodes.exit is defined %}
        ExitNodes {{ tor.security.nodes.exit }}
    {% endif %}

    {% if tor.security.nodes.exclude is defined %}
        ExcludeNodes {{ tor.security.nodes.exclude }}
    {% endif %}
{% endif %}
