[uwsgi]
env = LANG=en_US.utf8
env = LC_ALL=en_US.UTF-8
env = LC_LANG=en_US.UTF-8
http-socket = 0.0.0.0:80
chdir = {{ uwsgi.directory }}
module = {{ uwsgi.module }}.wsgi
python-autoreload = 1  # TODO: engineering mode only
processes = 10
plugins = python3
