###
### permissions
###

user openvpn
group openvpn


###
### network
###

client
proto udp

dev {{ openvpn_client.dev }}
persist-tun

{% for remote in openvpn_client.remotes %}
    {% if remote.socks_proxy is defined %}
        socks-proxy {{ remote.socks_proxy.host }} {{ remote.socks_proxy.port }}
        connect-retry-max 1
    {% endif %}

    remote {{ remote.host }} {{ remote.port }}
{% endfor %}

{% if openvpn_client.redirect_gateway is defined and openvpn_client.redirect_gateway %}
    redirect-gateway def1
{% endif %}

comp-lzo

mute 20
keepalive 10 120
float
auth-nocache
nobind


###
### security
###

ca ca.crt
tls-auth ta.key 1
remote-cert-tls server
persist-key

cipher AES-256-CBC
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA
auth SHA512

auth-user-pass /etc/openvpn/passwd.txt


###
### stand-up
###

script-security 2
up up.sh
down down.sh  # TODO: check
up-restart


###
### log
###

verb {{ openvpn_client.verb }}
status /var/log/openvpn/client.status
log /var/log/openvpn/client.log
writepid /var/run/openvpn.pid
